#wrapper{
    width: 100%;
    /* background-color: #121212; */
}
/* .hidden{
    display: none;
} */
/* 갈매기 아이콘 */
.seagull{
    display: block;
    width: 35px;
    height: 35px;
    margin-right: 10px;
    background-image: url(../images/seagull.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.main_bg{
    position: sticky;
    top: 0;
    height: 100vh;
    z-index: 0;
    overflow: hidden;
}
.main_bg::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, #001e3c4d, #00507899);
    z-index: 1;
}
.main_bg .swiper-wrapper{
    width: 100%;
    height: 100%;
}
.main_bg .swiper-slide {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.main_bg .swiper-slide img{
    width: 100%;
    height: 130vh;
    object-fit: cover;
    filter: brightness(70%);
    transform-origin: center top; /* 변환 원점 상단 중앙으로 */
    transition: transform 0.1s ease-out; /* 부드러운 패럴랙스 효과 */
    -webkit-mask-image: linear-gradient(to bottom, black 60%, transparent 100%);
    mask-image: linear-gradient(to bottom, black 60%, transparent 100%);
}

.title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #fff;
    z-index: 2;
    font-size: 4rem;
    font-weight: 700;
    text-shadow: 2px 2px 10px #00000080;
    letter-spacing: 2px;
}
.enter{
    margin-bottom: 10px;
}
.bold{
    margin-right: 8px;
    font-weight: 700;
}
.example{
    color: #7a7a7a;
}

#wrapper .abBusan .container{
    width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 2;
    padding: 30px 0;
    background: linear-gradient(to bottom, #ffffffe6 0%, #ffffff 100px);
    border-radius: 20px 20px 0 0;
    box-shadow: 0 -10px 30px rgba(0,0,0,0.1);
}
.container #sideNav{
    width: 300px;
}
.container #sideNav .sideNavMenu{
    font-size: 20px;
}
.container #sideNav .sideNavMenu .bsInfo a{
    font-size: 18px;
}
.container #sideNav .sideNavMenu .symbol a{
    font-size: 18px;
}
.container #sideNav .sideNavMenu .sns a{
    font-size: 18px;
}
.container #contents .title{
    font-size: 33px;
    text-align: center;
    margin: 0 0 25px;
    padding-top: 50px;
}

/* about BUSAN */
.busan {
    position: relative;
    background: #fff;
    padding-top: 30px;
    border-radius: 10px;
}
.busan .description {
    opacity: 0;
    transition: opacity 1.5s ease, transform 1.5s ease;
    transform: translateY(30px);
}
.busan .description.fade-in {
    opacity: 1;
    transform: translateY(0);
}

.busan .description > ul{
    display: flex;
    justify-content: start;
    width: 100%;
    margin-bottom: 50px;
    padding: 20px;
    border-radius: 15px;
    background: linear-gradient(to right, #f0f8ff80, #f0f8ff00);
    transition: all 0.3s ease;
}
.busan .description > ul:hover {
    background: linear-gradient(to right, #dcf0ffcc, #f0f8ff33);
    box-shadow: 0 5px 15px rgba(0,0,0,0.05);
}
.busan .description > ul .leftPhoto img{
    width: 500px;
    height: 300px;
    border-radius: 15px;
    overflow: hidden;
    object-fit: cover;
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
    transition: transform 0.5s ease, box-shadow 0.5s ease;
}
.busan .description > ul .leftPhoto img:hover {
    transform: scale(1.02);
    box-shadow: 0 15px 30px rgba(0,0,0,0.15);
}
.busan .description > ul .rightDesc{
    width: 400px;
    margin-left: 50px;
    margin-top: 10px;
}
.busan .description div{
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 15px;
    color: #005b8a;
    position: relative;
}
.busan .description div::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 60px;
    height: 3px;
    background: linear-gradient(to right, #0088cc, transparent);
}
.busan .description span{
    font-size: 20px;
    font-weight: 700;
    color: #0088cc;
}
.busan .description p{
    font-size: 18px;
    line-height: 1.7;
    color: #333;
    margin-top: 15px;
}

/* 스크롤 탑 버튼 */
#scrollTop {
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 50px;
    height: 50px;
    background-color: #0088cc;
    color: #fff;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    opacity: 0;
    transform: translateY(20px);
    transition: all 0.3s ease;
    box-shadow: 0 3px 10px #00000033;
    z-index: 100;
}

#scrollTop::before {
    content: "↑";
    font-size: 24px;
    line-height: 50px;
}

#scrollTop.visible {
    opacity: 1;
    transform: translateY(0);
}

#scrollTop:hover {
    background-color: #0088cc;
    box-shadow: 0 5px 15px #0000004d;
    transform: translateY(-3px);
}

/* 애니메이션 효과 */
@keyframes wave {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

/* goals */
.vg > div{
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 10px;
}
.vg > div > div{
    display: flex;
}
.vg img{
    width: 1030px;
}
.vg .vision{
    margin-bottom: 40px;
}
.vg .line-gray{
    display: block;
    width: 100%;
    height: 1px;
    margin-bottom: 20px;
    background: #ccc;
}

/* basisinfo */
.basisinfo{
    font-size: 18px;
}
.basisinfo > li{
    margin-bottom: 50px;
}
.basisinfo .placeTitle, .basisinfo .climateTitle, .basisinfo .coastTitle{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: 700;
}
.basisinfo .placeInfo, .basisinfo .climateInfo, .basisinfo .coastInfo{
    padding: 30px;
    border: 3px solid #dbf6ff;
    border-radius: 10px;
    background-color: #ecfaff;
}
.basisinfo .placeLiTi, .basisinfo .seasonLiTi{
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 10px;
}

/* 위치 영역 */
.place .placeInfo{
    display: flex;
    gap: 20px;
}
.place .placeInfo ul{
    width: 480px;
}
.place .placeInfo .placePhoto img{
    width: 470px;
}
.place .placeInfo .placePhoto{
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 20px;
}
.place .placeInfo .placeList .placeLi{
    margin-bottom: 20px;
}
.place .placeInfo .placeList .placeLiTi{
    margin-bottom: 10px;
    font-weight: 700;
}

/* 기후 영역 */
.climate .climateTitle{
    display: flex;
    font-weight: 700;
    align-items: center;
}
.climate .climateTitle .kma a{
    position: relative;
    display: block;
    padding: 0 10px;
    margin-left: 15px;
    border: 2px solid #baeeff;
    border-radius: 25px;
    font-size: 18px;
    color: #0088cc;
    background: linear-gradient(to bottom, #fff, #baeeff);
}
.climate .climateTitle .kma a::after{
    content: "";
    position: absolute;
    bottom: 0;
    right: -22px;
    display: block;
    width: 26px;
    height: 26px;
    background-image: url('../images/icon_cursor.png');
    background-size: 20px auto;
    background-repeat: no-repeat;
    background-position: center;
}
.climate .climateInfo p{
    margin-bottom: 30px;
}
.climate .seasonLiTi{
    font-weight: 700;
}
.climate .climateInfo .seasonList li{
    display: flex;
    gap: 20px;
    margin-bottom: 30px;
}
.climate .climateInfo .seasonList li :last-child{
    margin-bottom: 0;
}
.climate .climateInfo .seasonList img{
    width: 470px;
    border-radius: 10px;
    overflow: hidden;
}
.climate .climateInfo .seasonList div{
    width: 480px;
}
.climate .climateInfo .seasonList span{
    color: #db0000;
}

/* 해안 영역 */
.coast .coastInfo > p{
    margin-bottom: 30px;
}
.coast .coastInfo .coastList{
    margin: 0 auto;
}
.coast .coastInfo .coastList .coastLiTi{
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 10px;
}
.coast .coastInfo .coastList li{
    transition: 0.1s ease;
    display: flex;
    gap: 20px;
    margin-bottom: 30px;
}
.coast .coastInfo .coastList li.sandbeach.hidden{
    /* display: none; */
    max-height: 0;
    opacity: 0;
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 0;
    border-width: 0;
}
.coast .coastInfo .coastList li.sandbeach{
    position: relative;
    padding: 20px;
    border: 2px solid #baeeff;
    border-radius: 25px;
    background-color: #dbf6ff;
    /* background: linear-gradient(to bottom, #fff, #baeeff); */
    transition: max-height 1s ease-in-out,
    opacity 0.5s ease-in-out,
    padding 0.5s ease-in-out,
    margin-bottom 0.5s ease-in-out,
    border-width 1s ease-in-out;
    /* overflow: hidden; */
    max-height: 985px;
    opacity: 1;
    z-index: 0;
}
.sandbeach .arr{
    position: absolute;
    top: -18px;
    left: 530px;
    width: 30px;
    height: 30px;
    /* background-color: #dbf6ff; */
    border-top: 2px solid #baeeff;
    border-left: 2px solid #baeeff;
    transform: rotate(45deg);
}
.sandbeach .arr span{
    display: block;
    width: 100%;
    height: 100%;
    border-top: 16px solid #dbf6ff;
    border-left: 16px solid #dbf6ff;
    border-right: 16px solid transparent;
    border-bottom: 16px solid transparent;

}
/* .coast .coastInfo .coastList .sandbeach::after{
    content: "";
    position: absolute;
    top: -18px;
    left: 530px;
    width: 30px;
    height: 30px;
    background-color: #dbf6ff;
    border-top: 15px solid #baeeff;
    border-left: 30px solid #baeeff;
    transform: rotate(45deg);
} */

.coast .coastInfo .coastList img{
    width: 470px;
    border-radius: 10px;
}
.coast .coastInfo .coastList div{
    width: 480px;
}
.coast .coastInfo .coastList .sand{
    width: 300px;
}
.coast .coastInfo .coastList .sand img{
    width: 300px;
    margin-bottom: 10px;
}
.coast .coastInfo .coastList .coastDetail{
    width: 100px;
    margin-top: 30px;
    text-align: center;
    border: 2px solid #baeeff;
    border-radius: 25px;
    background: linear-gradient(to bottom, #fff, #baeeff);
}
.coast .coastInfo .coastList .coastDetail button{
    height: 20px;
    line-height: 30px;
    font-size: 16px;
    font-weight: bold;
    color: #0088cc;
}

/* symbol */
.symbols{
    width: 1030px;
    font-size: 18px;
}
.symbols > ul > li{
    margin-bottom: 30px;
}
.symbols > ul > li > div{
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 10px;
}
.symbols li img{
    width: auto;
    height: 150px;
    margin-right: 30px;
    margin-bottom: 10px;
}
/* .symbols .symbol{
    padding: 30px;
    border: 3px solid #dbf6ff;
    border-radius: 10px;
    background-color: #ecfaff;
} */
.symbols .symbol ul{
    display: flex;
    padding: 30px;
    border: 3px solid #dbf6ff;
    border-radius: 10px;
    background-color: #ecfaff;
}
.symbols .symbol .symbolText{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

/* character */
.character{
    position: relative;   
}
.character img{
    width: 1030px;
}
.link .guide{
    display: block;
    width: 205px;
    height: 55px;
    position: absolute;
    bottom: 1665px;
    left: 540px;
    background-color: transparent;
    text-indent: -9999999px;
}
.link .app{
    display: block;
    width: 205px;
    height: 55px;
    position: absolute;
    bottom: 1665px;
    left: 1027px;
    background-color: transparent;
    text-indent: -9999999px;
}
.link .insta1{
    display: block;
    width: 205px;
    height: 55px;
    position: absolute;
    bottom: 1155px;
    left: 540px;
    background-color: transparent;
    text-indent: -9999999px;
}
.link .insta2{
    display: block;
    width: 205px;
    height: 55px;
    position: absolute;
    bottom: 1155px;
    left: 1000px;
    background-color: transparent;
    text-indent: -9999999px;
}
.link .movement1{
    display: block;
    width: 205px;
    height: 55px;
    position: absolute;
    bottom: 668px;
    left: 540px;
    background-color: transparent;
    text-indent: -9999999px;
}
.link .movement2{
    display: block;
    width: 205px;
    height: 55px;
    position: absolute;
    bottom: 668px;
    left: 1035px;
    background-color: transparent;
    text-indent: -9999999px;
}
.link .youtube{
    display: block;
    width: 130px;
    height: 55px;
    position: absolute;
    bottom: 560px;
    left: 1186px;
    background-color: transparent;
    text-indent: -9999999px;
}