#wrapper{
    width: 100%;
    /* background-color: #121212; */
}
#wrapper .abBusan{
    width: 1440px;
    margin: 0 auto;
}
#wrapper .abBusan .container{
    width: 100%;
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
}
.container #sideNav{
    width: 300px;
}
.container #sideNav .sideNavMenu{
    font-size: 20px;
}
.container #sideNav .sideNavMenu .bsInfo a{
    font-size: 18px;
}
.container #sideNav .sideNavMenu .symbol a{
    font-size: 18px;
}
.container #sideNav .sideNavMenu .sns a{
    font-size: 18px;
}

/* about BUSAN */
.title{
    text-align: center;
}

.content .photo{
    margin-bottom: 30px;
    border-radius: 10px;
    overflow: hidden;
}

.content .description > ul{
    display: flex;
    justify-content: start;
    width: 100%;
    margin-bottom: 30px;
    
}
.content .description > ul .leftPhoto img{
    width: 500px;
    height: 300px;
    border-radius: 10px;
    overflow: hidden;
    object-fit: cover;
}
.content .description > ul .rightDesc{
    width: 400px;
    margin-left: 50px;
    margin-top: 10px;
}
.content .description div{
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 10px;
}
.content .description span{
    font-size: 20px;
    font-weight: 700;
}
.content .description p{
    font-size: 18px;
}

/* goals */

/* basisinfo */
.basisinfo{
    font-size: 18px;
}
.basisinfo > li{
    margin-bottom: 50px;
}
.basisinfo .placeTitle, .basisinfo .climateTitle, .basisinfo .coastTitle{
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 10px;
}
.basisinfo .placeLiTi, .basisinfo .seasonLiTi{
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 10px;
}

.place .placeInfo{
    display: flex;
    gap: 30px;
}
.place .placeInfo .placePhoto{
    width: 500px;
}
.place .placeInfo .placeList .placeLi{
    margin-bottom: 20px;
}
.place .placeInfo .placeList .placeLiTi{
    margin-bottom: 10px;
    font-weight: 700;
}

.climate .climateTitle{
    display: flex;
    gap: 20px;
    font-weight: 700;
    align-items: center;
}
.climate .climateTitle .kma a{
    position: relative;
    display: block;
    padding: 0 5px;
    border: 2px solid #88e7ff;
    border-radius: 7px;
    font-size: 18px;
    color: #005f77;
    background-color: #88e7ff;
}
.climate .climateTitle .kma a::after{
    content: "";
    position: absolute;
    bottom: 0;
    right: -22px;
    display: block;
    width: 26px;
    height: 26px;
    background-image: url('../images/icon_cursor.png');
    background-size: 20px auto;
    background-repeat: no-repeat;
    background-position: center;
}
.climate .climateInfo p{
    margin-bottom: 30px;
}
.climate .seasonLiTi{
    font-weight: 700;
}
.climate .climateInfo .seasonList > li{
    display: flex;
    gap: 30px;
    margin-bottom: 30px;
}
.climate .climateInfo .seasonList img{
    width: 500px;
    border-radius: 10px;
    overflow: hidden;
}
.climate .climateInfo .seasonList span{
    font-weight: 700;
    color: #db0000;
}

.coast .coastInfo > p{
    margin-bottom: 30px;
}
.coast .coastInfo .coastList{
    margin: 0 auto;
}
.coast .coastInfo .coastList .coastLiTi{
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 10px;
}
.coast .coastInfo .coastList li{
    display: flex;
    gap: 30px;
    margin-bottom: 30px;
}
.coast .coastInfo .coastList img{
    width: 500px;
    border-radius: 10px;
}
.coast .coastInfo .coastList .sand img{
    width: 400px;
    margin-bottom: 10px;
}

/* symbol */

/* character */
