@charset "utf-8";

#wrapper {
    width: 100%;
    /* width: 980px; */
}

.about-orora {
    width: 940px;
    margin: 0 auto;
    margin-top: 80px;

    /* box-shadow: 30px 15px 100px rgba(0, 0, 0, 0.05),
        -15px -15px 100px rgba(0, 0, 0, 0.05);
    border-radius: 15px;
    padding: 10px; */
}

.about-orora>div {
    margin-bottom: 200px;
}

.about-orora h3 {
    font-size: 36px;
    font-weight: 800;
    color: #333;
    margin-bottom: 60px;
}

.orora-background {
    box-shadow: 30px 15px 100px rgba(0, 0, 0, 0.05),
        -15px -15px 100px rgba(0, 0, 0, 0.05);
    border-radius: 15px;
    padding: 20px;
}
.orora-background h3{
    text-align: center;
    align-items: center;
}
.orora-background .content {
    margin-left: 20px;
    font-size: 16px;
    line-height: 33px;
}

.team-introduce h3{
        text-align: center;
    align-items: center;
}
.team-introduce .team-introduce-list>li {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin-bottom: 80px;
    box-shadow: 30px 15px 100px rgba(0, 0, 0, 0.05),
        -15px -15px 100px rgba(0, 0, 0, 0.05);
    border-radius: 15px;
    padding: 15px 10px;
}

.team-introduce .team-introduce-list>li:last-child {
    border-bottom: none;
}

.team-introduce .profile {
    width: 50%;
}

.team-introduce .profile .name,
.team-introduce .profile .role {
    text-align: start;
    margin-left: 20px;
}

.team-introduce .profile .name {
    font-size: 28px;
    font-weight: 500;
}

.team-introduce .profile .role {
    font-size: 16px;
    line-height: 33px;
    color: #666;
    margin-bottom: 10px;
}

.team-introduce .profile .pic img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin-bottom: 60px;
}


.team-introduce .record {
    width: 50%;
    height: 220px;
    border-radius: 10%;
    margin-top: 50px;
    margin-right: 20px;
    padding-top: 20px;
    padding-left: 20px;
    text-align: left;
    font-size: 16px;
    line-height: 33px;
    /* background-color: #666; */
    box-shadow: 52px 30px 90px rgba(0, 0, 0, 0.05);
}

.team-introduce .record>p {
    display: list-item;
    margin-left: 1em;
    list-style-type: disc;
}