@charset "utf-8";

p {
    margin: 0;
    padding: 0;
}

button {
    padding: 0;
    margin: 0;
}

h3{
    font-size: 24px;
    margin-top: 60px;
}


#Wrapper {
    width: 100%;

}

.inner {
    margin-left: auto;
    margin-right: auto;
    width: 940px;

}

.title {
    text-align: center;
}

.title h2 {
    margin-bottom: 4px;
    font-size: 36px;
}

.title .local {
    font-size: 16px;
    color: #666666;
    margin-bottom: 10px;
}

.title .descript {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    font-size: 28px;
    width: 580px;
    box-shadow: inset 0 -6px 0 rgba(255, 223, 223, 1);
    padding: 0 10px;
}

.middleButtons {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}

.middleButtons .left,
.right {
    display: flex;
    gap: 15px;
}

.like,
.eyes,
.save,
.print,
.map,
.share {
    display: flex;
    align-items: center;
    gap: 8px;
    height: 19px;
}

.like button,
.like button img {
    width: 21px;
    height: 19px;
}

.eyes button,
.eyes button img {
    width: 24px;
    height: 18px;
}

.likeCount,
.eyesCount,
.shareCount {
    color: #666;
}

.save button,
.save button img {
    width: 16px;
    height: 18px;
}

.print button,
.print button img {
    width: 20px;
    height: 18px;
}

.map button,
.map button img {
    width: 20px;
    height: 21px;
}

.share button,
.share button img {
    width: 17px;
    height: 18px;
}

#subTitle {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    height: 63px;
    text-align: center;
    margin-bottom: 20px;
}

#subTitle li {
    width: 235px;
    border-right: 1px solid #ccc;
}

#subTitle li:last-child {
    border-right: none;
}

.subPic {
    display: flex;
    justify-content: end;
    margin-bottom: 9px;
}

.submitPicture {
    border: 1px solid #767676;
    font-size: 16px;
    width: 146px;
    height: 40px;

}

.submitPicture img {
    margin-right: 10px;
}

.photo {
    position: relative;
    height: 627px;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper {
    width: 100%;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
}

.swiper-slide {
    background-size: cover;
    background-position: center;
}

.mySwiper2 {
    height: 80%;
    width: 100%;
}

.mySwiper {
    height: 20%;
    box-sizing: border-box;
    margin-top: 10px;
}

.mySwiper .swiper-slide {
    width: 25%;
    height: 100%;
    opacity: 0.4;
}

.mySwiper .swiper-slide-thumb-active {
    opacity: 1;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.detail{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding-bottom: 9px;
    border-bottom: 2px solid #333;
    margin-bottom: 35px;
}

.detail .detailPicture{
    width: 170px;
    height: 40px;
    font-size: 16px;
    border: 1px solid #333;
}

.detail .detailPicture img{
    width: 16px;
    height: 16px;
    margin-right: 8px;
}

.detailScript{
    font-size: 18px;
    margin-bottom: 50px;
}

#map{
    margin-bottom: 45px;
}

.aboutAhop{
    margin-bottom: 80px;
}

.aboutAhop ul{
    display: flex;
    flex-wrap: wrap;
}

.aboutAhop ul li{
    display: flex;
}

.aboutAhop p{
    width: 140px;
    margin-bottom: 15px;
}

.aboutAhop a{
    color: #333;
}

.aboutAhop .cont{
    width: 330px;
    color: #666;
}

.tag{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    margin-bottom: 50px;
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;
    padding-top: 20px;
    padding-bottom: 20px;
}

.tag button{
    border: 1px solid #777;
    border-radius: 4px;
    padding: 5px 20px;
    font-size: 16px;
    color: #777;
}

.goodBad{
    display: flex;
    justify-content: space-between;
    background: url(../images/icon_user_goodbad_detailPage.png);
    background-repeat: no-repeat;
}

.goodBad .left{
    margin-left: 30px;
}

.goodBad .left .goodBadTitle{
    font-size: 22px;
}

.goodBad .right button{
    width: 152px;
    height: 72px;
    border: none;
    border-radius: 40px;
    background-color: #F1F1F1;
    font-size: 18px;
}

.goodBad .right .good, .goodBad .right .bad{
    margin-right: 20px;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}
.goodBad .right .good .likeIco, .goodBad .right .bad .dislikeIco{
    width: 45px;
    height: 45px;
    background-image: url(../images/icon_user_expression_detailPage.png);
    background-repeat: no-repeat;
}

.goodBad .right .good .likeIco{
    background-position: 0 0;
}

.goodBad .right .good .likeIco.active{
    background-position: 0 -45px;
}

.goodBad .right .bad .dislikeIco{
    background-position: 0 -90px;
}
.goodBad .right .bad .dislikeIco.active{
    background-position: 0 -135px;
}

.comment{
    position: relative;
    margin-bottom: 60px;
}

.comment .commentTitle{
    display: flex;
    gap: 5px;
    align-items: end;
    font-size: 24px;
    margin-bottom: 7px;
}

.comment .commentPicture{
    position: absolute;
    right: 0;
}

.comment #textarea{
    width: 100%;
    height: 100px;
    padding: 16px 20px;
    margin-bottom: 15px;
    border-color: #ccc;
    resize: none;
}

.comment .commentPicture > button{
    
    width: 80px;
    height: 40px;
    border: 1px solid #333;
    border-radius: 4px;
    line-height: 38px;
    font-size: 16px;
}

.comment .commentPicture .pho{
    margin-right: 8px;
}

.comment .commentPicture .pho img{
    width: 20px;
    height: 20px;
    margin-top: 8px;
    margin-right: 5px;
}

.comment .commentPicture .sub{
    color: white;
    background-color: #333;
}

.userPhotoCo .up{
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-bottom: 10px;
}

.userPhotoCo .userPhoto{
    padding-bottom: 50px;
    border-bottom: 1px solid #ccc;
}

.userPhotoCo .usercheck{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.userPhotoCo .usercheck ul{
    display: flex;
    gap: 20px;
}
