@charset "utf-8";

p {
    margin: 0;
    padding: 0;
}

button {
    padding: 0;
    margin: 0;
}

#Wrapper {
    width: 100%;

}

.inner {
    margin-left: auto;
    margin-right: auto;
    width: 940px;

}

.title {
    text-align: center;
}

.title h2 {
    margin-bottom: 4px;
    font-size: 36px;
}

.title .local {
    font-size: 16px;
    color: #666666;
    margin-bottom: 10px;
}

.title .descript {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    font-size: 28px;
    width: 580px;
    box-shadow: inset 0 -6px 0 rgba(255, 223, 223, 1);
    padding: 0 10px;
}

.middleButtons {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}

.middleButtons .left,
.right {
    display: flex;
    gap: 15px;
}

.like,
.eyes,
.save,
.print,
.map,
.share {
    display: flex;
    align-items: center;
    gap: 8px;
    height: 19px;
}

.like button,
.like button img {
    width: 21px;
    height: 19px;
}

.eyes button,
.eyes button img {
    width: 24px;
    height: 18px;
}

.likeCount,
.eyesCount,
.shareCount {
    color: #666;
}

.save button,
.save button img {
    width: 16px;
    height: 18px;
}

.print button,
.print button img {
    width: 20px;
    height: 18px;
}

.map button,
.map button img {
    width: 20px;
    height: 21px;
}

.share button,
.share button img {
    width: 17px;
    height: 18px;
}

#subTitle {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    height: 63px;
    text-align: center;
    margin-bottom: 20px;
}

#subTitle li {
    width: 235px;
    border-right: 1px solid #ccc;
}

#subTitle li:last-child {
    border-right: none;
}

.subPic {
    display: flex;
    justify-content: end;
    margin-bottom: 9px;
}

.submitPicture {
    border: 1px solid #767676;
    font-size: 16px;
    width: 146px;
    height: 40px;

}

.submitPicture img {
    margin-right: 10px;
}

.photo {
    position: relative;
    height: 627px;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper {
    width: 100%;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
}

.swiper-slide {
    background-size: cover;
    background-position: center;
}

.mySwiper2 {
    height: 80%;
    width: 100%;
}

.mySwiper {
    height: 20%;
    box-sizing: border-box;
    margin-top: 10px;
}

.mySwiper .swiper-slide {
    width: 25%;
    height: 100%;
    opacity: 0.4;
}

.mySwiper .swiper-slide-thumb-active {
    opacity: 1;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}