@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Pretendard Variable", Pretendard, sans-serif;
    font-size: 14px;
    line-height: 1.5;
    color: #121212;
}
ul,li{
    list-style: none;
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
}
img,input,button{
    vertical-align: top;
}
input,button{
    font-family: "Pretendard Variable", Pretendard, sans-serif;
}
button{
    border: none;
    background-color: transparent;
    cursor: pointer;
}