.container {
    padding: 20px;
}
.container > h2{
    font-size: 24px;
    margin-bottom: 20px;
    color: #1f2397;
}
.container .but {
    margin-top: 10px;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.container .but #apple {
    background-color: #fff;
    color: cornflowerblue;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
}
.container .popular01{
    display: none;
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    border-bottom: 2px;
    padding: 10px 20px;
}

.container .tag{
    display: inline-block;
    background-color: #f0f4f8;
    border-radius: 15px;
    color: #333;
    padding: 8px 14px;
    margin: 5px;
    font-size: 14px;
}
.container .latest01{
    display: none;
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    border-bottom: 2px;
    padding: 10px 20px;
}
.container .tagg{
    display: inline-block;
    background-color: #f0f4f8;
    border-radius: 15px;
    color: #333;
    padding: 8px 14px;
    margin: 5px;
    font-size: 14px;
}
.container .recommended01{
    display: none;
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    border-bottom: 2px;
    padding: 10px 20px;
}
.container .Third{
   display: inline-block;
    background-color: #f0f4f8;
    border-radius: 15px;
    color: #333;
    padding: 8px 14px;
    margin: 5px;
    font-size: 14px;
}
.container .Festival01{
    display: none;
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    border-bottom: 2px;
    padding: 10px 20px;
}
.container .last{
    display: inline-block;
    background-color: #f0f0f0;
    border-radius: 15px;
    padding: 8px 14px;
    margin: 5px;
    font-size: 14px;
}
.container .list-area{
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.container .white{
    font-family: 'NotoSansKR',sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: #000;
    -webkit-text-size-adjust: 100%;
    line-height: 1;
    word-wrap: break-word;
    box-sizing: border-box;
    margin: 0;
    float: left;
    padding: 3px 0 5px;
    margin-bottom: 30px;
}
.container .sortTy{
    font-family: 'NotoSansKR',sans-serif;
    font-size: 16px;
    color: #000;
    -webkit-text-size-adjust: 100%;
    line-height: 1;
    word-wrap: break-word;
    box-sizing: border-box;
    margin: 0;
    float: right;
    position: absolute;
    right: 13px;
    width: auto;
    padding: 3px 0 10px;
}
.container .picture{
    width: 700px;
}
.container .picture ul{
    display: flex;
    gap: 50px;
    padding: 0;
    margin: 0;
}
.container .picture li{
    list-style: none;
    width: 160px;
    text-align: center;
}
.container .picture .ph{
    width: 100px;
    height: 100px;
}
.container .picture .ph img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* 사진을 꽉차게 */
}
.container .picture .to2{
    font-size: 20px
}
.container .picture .to3{
    font-size: 15px;
    color: #333;
}
.container .busan99{
    width: 1000px;
    padding: 0;
    margin: 0;
}
.container .busan99 ul{
    display: flex;
    gap: 20px;
}
.container .busan99 li{
    border: 1px solid #000;
}
.container .busan99 .ph{
    width: 100px;
    height: 100px;
}
.container .busan99 .ph img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
    /* 사진을 꽉차게 */
}
.container .busan99 .to2{
    font-weight: bold;
    font-size: 17px
}
.container .busan99 .to3{
    font-size: 13px;
    color: #333;
}