@charset "utf-8";

#wrapper {
    width: 100%;
}

h3 {
    font-size: 36px;
    font-weight: 800;
    color: #333;
    margin-bottom: 60px;
}
h4{
    font-size: 18px;
    padding: 20px 20px;
    margin-bottom: 30px;
}
.good{
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 32px;
}
.s600{
    font-weight: 600;
}
a{
    color: black;
}
.how{
    display: none;
}


.korean-tip {
    width: 980px;
    padding: 0 20px;
    margin: 0 auto;
    margin-top: 80px;
    /* background-color: antiquewhite; */

    /* box-shadow: 30px 15px 100px rgba(0, 0, 0, 0.05),
        -15px -15px 100px rgba(0, 0, 0, 0.05);
    border-radius: 15px;
    padding: 10px; */
}

.transportaion > div {
    margin-bottom: 50px;
    box-shadow: 30px 15px 100px rgba(0, 0, 0, 0.05),
        -15px -15px 100px rgba(0, 0, 0, 0.05);
    border-radius: 15px;
    padding: 10px;
}

.mapTrans .map .mapComent{
    padding: 0 20px;
}
.mapTrans .map .mapRecommend > div{
    position: relative;
    display: flex;
    gap: 100px;
    padding: 0 20px;
    margin-bottom: 40px;
    /* background-color: wheat; */
}
.mapTrans .map .left p{
    text-align: center;
    margin-bottom: 10px;
}
.mapTrans .map .image a{
    display: block;
    width: 75px;
    height: 75px;
    text-indent: -99999px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.08);
}
.navermap a{
    background-image: url(../images/navermap.jpg);
}
.kakaomap a{
    background-image: url(../images/kakaomap.png);

}

.mapTrans .transApp .transAppComent{
    padding: 0 20px;
}
.mapTrans .transApp .transAppRecommend > div{
    position: relative;
    display: flex;
    gap: 100px;
    padding: 0 20px;
    margin-bottom: 40px;
}
.mapTrans .transApp .left p{
    text-align: center;
    margin-bottom: 10px;
}
.mapTrans .transApp .image a{
    display: block;
    width: 75px;
    height: 75px;
    text-indent: -99999px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.08);
}
.kakaobus a{
    background-image: url(../images/kakaobus.png);
}
.kakaosubway a{
    background-image: url(../images/kakaosubway.png);
}
.kakaoT a{
    background-image: url(../images/kakaotaxi.png);
}


.pass > div{
    position: relative;
    display: flex;
    gap: 100px;
    padding: 0 20px;
    margin-bottom: 40px;
    /* background-color: wheat; */
}
.pass .left p{
    text-align: center;
    margin-bottom: 10px;
}
.pass .image a{
    display: block;
    width: 75px;
    height: 75px;
    text-indent: -99999px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 10px;
    box-shadow: 2px 2px 50px rgba(0,0,0,0.08);
}
.visitbusanpass .image a{
    background-image: url(../images/visitbusanpass.png);
    background-color: rgb(1, 108, 170);
    border-radius: 10px;
}
.visitbusanpass .cards ul{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
    justify-content: center;
    text-align: center;
}
.visitbusanpass .cardImg{
    width: 300px;
    height: 200px;
    text-indent: -99999px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin-bottom: 8px;
}
.visitbusanpass .price{
    margin-bottom: 10px;
}
.visitbusanpass .cards .timeLimit{
    margin-bottom: 50px;
}
.visitbusanpass .pass24h .cardImg{
    background-image: url(../images/visitbusanpass24h.png);
}
.visitbusanpass .pass48h .cardImg{
    background-image: url(../images/visitbusanpass48h.png);
}
.visitbusanpass .passBig3 .cardImg{
    background-image: url(../images/visitbusanpassbig3.png);
}
.visitbusanpass .passBig5 .cardImg{
    background-image: url(../images/visitbusanpassbig5.png);
}

/* .convenience  */
.convenience > div {
    margin-bottom: 50px;
    box-shadow: 30px 15px 100px rgba(0, 0, 0, 0.05),
        -15px -15px 100px rgba(0, 0, 0, 0.05);
    border-radius: 15px;
    padding: 10px;
}

.reservation .eat .eatComent{
    padding: 0 20px;
}
.reservation .eat .eatRecommend > div{
    position: relative;
    display: flex;
    gap: 100px;
    padding: 0 20px;
    margin-bottom: 40px;
}
.reservation .left p{
    text-align: center;
    margin-bottom: 10px;
}
.reservation .image a{
    display: block;
    width: 75px;
    height: 75px;
    text-indent: -99999px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.08);
}
.tabling a{
    background-image: url(../images/tabling.png);
}
.catchtable a{
    background-image: url(../images/catchtable.png);
}


.delivery .deliveryComent{
    padding: 0 20px;
}
.delivery .deliveryRecommend > div{
    position: relative;
    display: flex;
    gap: 100px;
    padding: 0 20px;
    margin-bottom: 40px;
}
.delivery .left p{
    text-align: center;
    margin-bottom: 10px;
}
.delivery .image a{
    display: block;
    width: 75px;
    height: 75px;
    text-indent: -99999px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.08);
}
.baemin a{
    background-image: url(../images/baemin.jpg);
}
.shuttle a{
    background-image: url(../images/shuttle.png);
}


.photo .photoComent{
    padding: 0 20px;
}
.photo .photoRecommend > div{
    position: relative;
    display: flex;
    gap: 100px;
    padding: 0 20px;
    margin-bottom: 40px;
}
.photo .left p{
    text-align: center;
    margin-bottom: 10px;
}
.photo .image a{
    display: block;
    width: 75px;
    height: 75px;
    text-indent: -99999px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.08);
}
.photoism a{
    background-image: url(../images/photoism.png);
    background-color: #000;
}
.photo .lifefourcuts .image a{
    background-image: url(../images/lifefourcuts.png);
    /* border-radius: 0; */
}