<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}" lang="ko">
    <head>
        <title layout:fragment="title">비밀번호 재설정</title>
        <th:block layout:fragment="css">
            <link rel="stylesheet" th:href="@{/css/login.css}" />
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
        </th:block>
    </head>

    <body>
        <div layout:fragment="content">
            <div class="container">
                <button class="back-button" onclick="history.back()">
                    <i class="fa-solid fa-arrow-left"></i>
                </button>
                <h2>비밀번호 재설정</h2>
                <div>
                    <div>
                        <p class="id">아이디</p>
                        <label
                            ><input type="text" placeholder="아이디를 입력해 주세요." id="loginId"
                        /></label>
                    </div>
                    <div>
                        <p class="psw">새 비밀번호</p>
                        <label
                            ><input
                                type="password"
                                placeholder="새 비밀번호를 입력하세요. (6~15자)"
                                id="newPassword"
                        /></label>
                    </div>
                    <div>
                        <p class="psw">비밀번호 확인</p>
                        <label
                            ><input
                                type="password"
                                placeholder="비밀번호를 다시 입력하세요."
                                id="confirmPassword"
                        /></label>
                    </div>
                    <div id="errorMessage"></div>
                    <div id="successMessage"></div>
                    <button id="resetPasswordBtn">비밀번호 재설정</button>
                    <div class="aboutLogin">
                        <a href="./login"><p>로그인</p></a>
                        <a href="./signup"><p>회원가입</p></a>
                        <a href="./find-id"><p class="newPsw">아이디 찾기</p></a>
                    </div>
                </div>
            </div>
        </div>
        <th:block layout:fragment="script">
            <script th:src="@{/js/utils/notification.js}"></script>
            <script th:src="@{/js/reset-password.js}"></script>
        </th:block>
    </body>
</html>
