<!doctype html>
<html
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layouts/layout}"
    lang="ko"
>
    <head>
        <title layout:fragment="title" data-translate="orora.title">오로라 소개</title>
        <th:block layout:fragment="css">
            <link rel="stylesheet" th:href="@{/css/about-orora.css}" />
            <link rel="stylesheet" th:href="@{/css/loading-animation.css}" />
        </th:block>
    </head>

    <body>
        <div layout:fragment="content">
            <section class="about-orora">
                <div class="orora-background">
                    <h3 data-translate="orora.vision_title">우리의 비전</h3>
                    <div class="content" data-translate="orora.vision_content">
                        <span class="orora"><span class="ororaImg"></span>오로라</span>는 다섯 명의
                        개성 넘치는 팀원들이 모여 밤하늘을 수놓는
                        <span class="orora">오로라</span>처럼 다채로운 빛깔의 아이디어와 혁신적인
                        해결책을 제시합니다.<br />

                        각기 다른 강점과 시각을 지닌 팀원들이 조화를 이루어, 하나의 목표를 향해
                        나아갈 때 최상의 시너지를 발휘합니다.<br />
                        마치 빛의 스펙트럼이 어우러져 경이로운 장관을 연출하듯이,
                        <span class="orora">오로라</span>는 고정관념을 깨고 새로운 가능성을
                        탐구하며<br />기대를 뛰어넘는 결과물을 만들어낼 것입니다.<br /><br /><span
                            class="bar"
                        ></span
                        ><br />

                        <span class="arataBusan">'ARATA BUSAN'</span>은 단순한 여행 가이드가
                        아닙니다.<br />
                        일본어로 '새로움'을 의미하는 <span class="s500">'あらた'</span>와 부산
                        사투리로 '알았다'는 깨달음을 담은 <span class="s500">'아라따'</span>의
                        중의적인 의미처럼<br />
                        일본인 관광객 여러분에게 부산의 숨겨진 매력을 '새롭게' 발견하고, 깊이 있는
                        '알았다'는 감동을 선사하고자 합니다.<br />

                        평범한 명소를 넘어, 부산의 다채로운 면모를 오감으로 경험하고 진정한 부산의
                        매력을 알아갈 수 있도록 돕겠습니다.<br />
                        <span class="arataBusan">'ARATA BUSAN'</span>과 함께라면 여러분은 부산을
                        새롭게 알아가는 여정 속에서 잊지 못할 추억과 진정한 감동을 만끽하실 수 있을
                        겁니다.<br />
                        부산이 선사하는 새로운 이야기들을 지금 바로
                        <span class="arataBusan">'ARATA BUSAN'</span>에서 경험해보세요!
                    </div>
                </div>
                <div class="team-introduce">
                    <h3 data-translate="orora.team_intro">팀원 소개</h3>
                    <ul class="team-introduce-list">
                        <li>
                            <div class="profile">
                                <p class="name" data-translate="orora.kang_yonghoon">강용훈</p>
                                <p class="role" data-translate="orora.team_leader">조장</p>
                                <p class="pic">
                                    <a href="https://github.com/QCoQCo" target="_blank">
                                        <img src="../../images/profile_QCoQco.jpg" alt="강용훈" />
                                    </a>
                                </p>
                            </div>
                            <div class="record">
                                <p data-translate="orora.team_leader">팀장</p>
                                <p data-translate="orora.team_leader_work1">프로젝트 총괄</p>
                                <p data-translate="orora.team_leader_work2">시스템 설계</p>
                            </div>
                        </li>
                        <li>
                            <div class="profile">
                                <p class="name" data-translate="orora.lee_jongwoo">이종우</p>
                                <p class="role" data-translate="orora.team_member">조원</p>
                                <p class="pic">
                                    <a href="https://github.com/jongw0o0" target="_blank">
                                        <img src="../../images/profile_jongw0o0.png" alt="이종우" />
                                    </a>
                                </p>
                            </div>
                            <div class="record-front">
                                <h2 data-translate="orora.frontend_dev">프론트엔드 개발</h2>
                                <p data-translate="orora.lee_jongwoo_work1">
                                    오로라 소개 페이지 작성
                                </p>
                                <p data-translate="orora.lee_jongwoo_work2">여행팁 페이지 작성</p>
                                <p data-translate="orora.lee_jongwoo_work3">
                                    여행팁 페이지 탭기능 구현
                                </p>
                                <p data-translate="orora.lee_jongwoo_work4">
                                    그 외 여행팁 페이지 js구현
                                </p>
                            </div>
                            <div class="record-back">
                                <h2 data-translate="orora.backend_dev">백엔드 개발</h2>
                                <p data-translate="orora.lee_jongwoo_work5">
                                    지역검색 페이지 api 제작
                                </p>
                                <p data-translate="orora.lee_jongwoo_work6">
                                    관광지 좋아요 기능 구현
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="profile">
                                <p class="name" data-translate="orora.lee_jian">이지안</p>
                                <p class="role" data-translate="orora.team_member">조원</p>
                                <p class="pic">
                                    <a href="https://github.com/jian080" target="_blank">
                                        <img src="../../images/profile_jian080.png" alt="이지안" />
                                    </a>
                                </p>
                            </div>
                            <div class="record-front">
                                <h2 data-translate="orora.frontend_dev">프론트엔드 개발</h2>
                                <p data-translate="orora.lee_jian_work1">태그 페이지 담당</p>
                                <p data-translate="orora.lee_jian_work2">테그별 관광지 목록 제작</p>
                                <p data-translate="orora.lee_jian_work3">
                                    주제를 빠르게 탐색할 수 있도록 각 태그에 링크를 연결해 이동이
                                    가능하도록 구현
                                </p>
                                <p data-translate="orora.lee_jian_work4">
                                    이미지와 함께 배치하여, 사용자가 내용을 확인할 수 있도록 함
                                </p>
                            </div>
                            <div class="record-back">
                                <h2 data-translate="orora.backend_dev">백엔드 개발</h2>
                                <p data-translate="orora.lee_jian_work5">테마 페이지 api 제작</p>
                                <p data-translate="orora.lee_jian_work6">
                                    태그 페이지 & 오로라 소개 페이지 디자인 수정
                                </p>
                                <p data-translate="orora.lee_jian_work7">헤더 디자인 수정</p>
                            </div>
                        </li>
                        <li>
                            <div class="profile">
                                <p class="name" data-translate="orora.jung_yujin">정유진</p>
                                <p class="role" data-translate="orora.team_member">조원</p>
                                <p class="pic">
                                    <a href="https://github.com/levihisoka" target="_blank">
                                        <img
                                            src="../../images/profile_levihisoka.jpg"
                                            alt="정유진"
                                        />
                                    </a>
                                </p>
                            </div>
                            <div class="record-front">
                                <h2 data-translate="orora.frontend_dev">프론트엔드 개발</h2>
                                <p data-translate="orora.jung_yujin_work1">
                                    부산의 오늘 페이지 제작
                                </p>
                                <p data-translate="orora.jung_yujin_work2">
                                    부산의 상징 페이지 제작
                                </p>
                                <p data-translate="orora.jung_yujin_work3">
                                    소통 캐릭터 페이지 제작
                                </p>
                                <p data-translate="orora.jung_yujin_work4">세부 디자인 수정</p>
                            </div>
                            <div class="record-back">
                                <h2 data-translate="orora.backend_dev">백엔드 개발</h2>
                                <p data-translate="orora.jung_yujin_work5">
                                    부산소개 페이지의 일본어 번역
                                </p>
                                <p data-translate="orora.jung_yujin_work6">태마 페이지 api 제작</p>
                            </div>
                        </li>
                        <li>
                            <div class="profile">
                                <p class="name" data-translate="orora.cho_yujung">조유정</p>
                                <p class="role" data-translate="orora.team_member">조원</p>
                                <p class="pic">
                                    <a href="https://github.com/JOYJ125" target="_blank">
                                        <img src="../../images/profile_JOYJ125.png" alt="조유정" />
                                    </a>
                                </p>
                            </div>
                            <div class="record-front">
                                <h2 data-translate="orora.frontend_dev">프론트엔드 개발</h2>
                                <p data-translate="orora.cho_yujung_work1">
                                    관광지 상세페이지 작성
                                </p>
                                <p data-translate="orora.cho_yujung_work2">로그인페이지 작성</p>
                                <p data-translate="orora.cho_yujung_work3">회원가입페이지 작성</p>
                                <p data-translate="orora.cho_yujung_work4">빠진부분찾기</p>
                            </div>
                            <div class="record-back">
                                <h2 data-translate="orora.backend_dev">백엔드 개발</h2>
                                <p data-translate="orora.cho_yujung_work5">태그 페이지 api 제작</p>
                                <p data-translate="orora.cho_yujung_work6">빠진부분찾기</p>
                                <p data-translate="orora.cho_yujung_work7">버그 찾기 & 수정</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </section>
        </div>
        <th:block layout:fragment="script"> </th:block>
    </body>
</html>
