<nav id="sideNav">
    <h1>about BUSAN</h1>
    <div class="sideNavMenu">
        <ul>
            <li class="active">
                <div class="sideNavMenuTitle">
                    <a href="busan.html">부산의 오늘</a>
                    <button type="button" class="btnMenuDropDown" aria-label="하위메뉴 토글">하위메뉴 닫기</button>
                </div>
                <ul class="bsInfo">
                    <li class="active">
                        <a href="busan.html">부산은?</a>
                    </li>
                    <li>
                        <a href="goals.html">도시비전과 목표</a>
                    </li>
                    <li>
                        <a href="basisinfo.html">기본현황</a>
                    </li>
                </ul>
            </li>
            <li>
                <div class="sideNavMenuTitle">
                    <a href="symbol.html">부산의 상징</a>
                    <button type="button" class="btnMenuDropDown" aria-label="하위메뉴 토글">하위메뉴 열기</button>
                </div>
                <ul class="symbol">
                    <li>
                        <a href="symbol.html">지역상징</a>
                    </li>
                </ul>
            </li>
            <li>
                <div class="sideNavMenuTitle">
                    <a href="character.html">소통 캐릭터</a>
                    <button type="button" class="btnMenuDropDown" aria-label="하위메뉴 토글">하위메뉴 열기</button>
                </div>
                <ul class="sns">
                    <li>
                        <a href="character.html">캐릭터 소개</a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/boogi_in_busan/" target="_blank"
                            rel="noopener noreferrer" title="새창열기">부기 인스타그램</a>
                    </li>
                    <li>
                        <a href="https://www.youtube.com/@boogi_in_busan" target="_blank"
                            rel="noopener noreferrer" title="새창열기">부기튜브</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</nav> 