<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>listComponent</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div id="wrapper">
        <div class="sample">
            <ul class="list-wrap">

            </ul>
        </div>
    </div>

    <template id="list-item">
        <li class="item">
            <div class="item-content">
                <a href="" class="item-link">
                <div class="item-photo">
                    <p><img src="" alt=""></p>
                    <p class="like">
                        <button class="likeBtn"></button>
                    </p>
                </div>
                <div class="item-info">
                    <p class="item-title">

                    </p>
                    <p class="item-description">

                    </p>
                    <p class="hash-tag">

                    </p>
                </div>
                </a>
            </div>
        </li>
    </template>

    <script src="example.js"></script>
</body>
</html>