<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>부산 소개</title>
    <link rel="stylesheet" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <link rel="stylesheet" href="../../css/reset.css">
    <link rel="stylesheet" href="../../css/header.css">
    <link rel="stylesheet" href="../../css/footer.css">
    <link rel="stylesheet" href="../../css/sidenav.css">
    <link rel="stylesheet" href="../../css/about-Busan.css">
    <link rel="stylesheet" href="../../css/breadcrumb.css">
</head>

<body>
    <div id="wrapper">
        <div id="header-container"></div>
        <div id="breadcrumb-container"></div>
        <section class="abBusan">
            <div class="swiper main_bg">
                <div class="swiper-wrapper">
                    <div class="swiper-slide"><img src="../../images/main_character01.jpg" alt="캐릭터 소개"></div>
                    <div class="swiper-slide"><img src="../../images/main_character02.jpg" alt="캐릭터 소개"></div>
                    <div class="swiper-slide"><img src="../../images/main_character03.jpg" alt="캐릭터 소개"></div>
                </div>
                <h2 class="title">캐릭터 소개</h2>
            </div>
            <div class="container">
                <div id="sidenav-container"></div>
                <main id="contents">
                    <div class="character">
                        <img src="../../images/bugi.jpg" alt="부기 캐릭터">
                    </div>
                    <div class="link">
                        <a href="../../files/2021부산시 소통캐릭터 부기 메뉴얼 가이드북.jpg" download="2021부산시 소통캐릭터 부기 메뉴얼 가이드북.jpg" class="guide">1</a>
                        <a href="../../files/240704 boogi_어플리케이션북(수정).jpg" download="240704 boogi_어플리케이션북(수정).jpg" class="app">2</a>
                        <a href="../../files/2023 부기인스타 동작 1월~12월.jpg" download="2023 부기인스타 동작 1월~12월.jpg" class="insta1">3</a>
                        <a href="../../files/2024 부기인스타 동작 2월~11월.jpg" download="2024 부기인스타 동작 2월~11월.jpg" class="insta2">4</a>
                        <a href="../../files/부산시 소통 캐릭터 부기 구군 응용 동작.jpg" download="부산시 소통 캐릭터 부기 구군 응용 동작.jpg" class="movement1">5</a>
                        <a href="../../files/당신처럼 애지중지_부기 응용 동작.jpg" download="당신처럼 애지중지_부기 응용 동작.jpg" class="movement2">6</a>
                        <a href="https://www.youtube.com/watch?v=gySTfYBTv9M" class="youtube">7</a>
                    </div>
                </main>
                <button title="클릭하시면 최상단으로 이동합니다" id="scrollTop"></button>
            </div>
        </section>
    </div>
    <footer id="footer"></footer>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="../../js/header-loader.js"></script>
    <script src="../../js/sidenav-loader.js"></script>
    <script src="../../js/busan.js"></script>
    <script src="../../js/footer-loader.js"></script>
    <script src="../../js/breadcrumb-loader.js"></script>
</body>

</html>