@charset "utf-8";

a {
    color: black;
    text-decoration: none;
}

#wrapper {
    width: 100%;
}
.container {
    width: 480px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
    position: relative;
}

.container .back-button {
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    top: -5px;
    left: 0;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: #666;
    padding: 5px 10px;
    border-radius: 5px;
    align-items: center;
}

.container h2 {
    text-align: center;
    margin-bottom: 60px;
}

.container .id,
.container .psw {
    font-size: 14px;
    line-height: 14px;
    font-weight: bold;
}

.container #putId,
.container #putPsw {
    width: 100%;
    border-width: 0 0 1px;
    padding: 11px 0;
}

.container #putId,
.container #putPsw:focus {
    outline: none;
}

.container #putId {
    margin-bottom: 25px;
}

.container #putPsw {
    margin-bottom: 10px;
}

.container .check {
    font-size: 14px;
    margin-bottom: 35px;
}

.container .check > div > label > input {
    cursor: pointer;
    margin-top: 4px;
    margin-right: 2px;
}

.container button {
    width: 100%;
    height: 47px;
    border: none;
    background-color: rgb(0, 0, 0);
    color: white;
    margin-bottom: 15px;
    cursor: pointer;
}

.container .aboutLogin {
    display: flex;
    gap: 10px;
    justify-content: center;
    font-size: 12px;
}

.container .aboutLogin a p {
    display: block;
    color: #9d9da0;
    line-height: 14px;
    height: 14px;
    text-align: center;
}
.container .aboutLogin a p::after {
    content: '';
    display: inline-block;
    width: 1px;
    height: 11px;
    margin-left: 10px;
    background-color: #9d9da0;
}

.container .aboutLogin .newPsw::after {
    content: none;
}
