@charset "utc-8";

p {
    margin: 0;
    padding: 0;
}

input {
    padding: 0;
}
#wrapper {
    width: 100%;
}

.container {
    width: 480px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
    position: relative;
}

#wrapper h2 {
    text-align: center;
    margin-bottom: 30px;
}

#wrapper div > div {
    margin-bottom: 30px;
}

#wrapper > div > div > p {
    font-size: 16px;
    color: #1d1d1f;
    margin-bottom: 10px;
    font-weight: bold;
}

#wrapper > div > div > label > input,
#wrapper > div > div > label > select {
    width: 496px;
    font-size: 16px;
    height: 38px;
    border: 1px solid #ccc;
    padding: 0 10px;
    box-sizing: border-box;
}

#wrapper > div > div > label > select {
    background-color: white;
    cursor: pointer;
}

#wrapper #needId,
#wrapper #needPsw,
#wrapper #needRePsw,
#wrapper #needEmail {
    color: rgb(219, 24, 24);
}

#wrapper #needId {
    margin: 0;
}

#wrapper #overlap {
    margin-top: 7px;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
    padding: 3px;
    border-radius: 5px;
}

#wrapper .repsw {
    margin-bottom: 5px;
}

#wrapper #same {
    display: none;
    height: 20px;
    font-size: 14px;
    margin-left: 5px;
}

#wrapper .userName {
    margin-top: 30px;
}

#wrapper #submit {
    width: 100%;
    height: 47px;
    border: 1px solid black;
    background-color: rgb(0, 0, 0);
    color: white;
    margin-bottom: 15px;
    cursor: pointer;
    transition: opacity 0.3s ease;
}

#wrapper #submit:disabled {
    cursor: not-allowed;
    opacity: 0.5;
}
