spring:
    application:
        name: orora

    devtools:
        livereload:
            enabled: true
        restart:
            enabled: true

    datasource:
        driver-class-name: net.sf.log4jdbc.sql.jdbcapi.DriverSpy
        url: jdbc:log4jdbc:mysql://${DB_HOST}:${DB_PORT}/${DB_NAME}?serverTimezone=UTC&useUnicode=true&characterEncoding=utf-8
        username: ${DB_USERNAME}
        password: ${DB_PASSWORD}

    servlet:
        multipart:
            max-file-size: 10MB
            max-request-size: 10MB

mybatis:
    mapper-locations: classpath:/mapper/*.xml
    config-location: classpath:/mybatis-config.xml
