<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.busan.orora.region.mapper.RegionMapper">
    <!-- TODO: 지역 관련 SQL 쿼리 구현 -->
    <resultMap id="RegionResultMap" type="com.busan.orora.region.dto.RegionDto">
        <id property="id" column="id" />
        <result property="areaCode" column="area_code" />
        <result property="name" column="name" />
        <result property="createdAt" column="created_at" />
        <result property="updatedAt" column="updated_at" />
        <result property="sigunguCode" column="sigungu_code" />
    </resultMap>

    <select id="findAllRegions" resultMap="RegionResultMap">
        SELECT id, area_code, name, created_at, updated_at, sigungu_code
        FROM regions
        ORDER BY id
    </select>

    <select id="findRegionById" resultMap="RegionResultMap" parameterType="Long">
        SELECT id, area_code, name, created_at, updated_at, sigungu_code
        FROM regions
        WHERE id = #{id}
    </select>

    <select id="findRegionByAreaCode" resultMap="RegionResultMap" parameterType="Integer">
        SELECT id, area_code, name, created_at, updated_at, sigungu_code
        FROM regions
        WHERE area_code = #{areaCode}
    </select>
    <!-- 1. 지역 목록 조회 -->
    <select id="searchSpotsByRegion" parameterType="Long" resultType="com.busan.orora.region.dto.SearchSpotsByRegionDto">
        SELECT  ts.id
                , ts.title
                , ts.description
                , ts.category_code AS categoryCode
                , MAX(CASE WHEN tsi.rep_img_yn = 'Y' THEN tsi.image_url END) AS imageUrl
                , GROUP_CONCAT(DISTINCT h.name ORDER BY h.name SEPARATOR ', ') AS hashtags
        FROM    tourist_spots ts    JOIN    regions r                   ON ts.region_id = r.id 
                                    LEFT JOIN    tourist_spot_images tsi     ON ts.id = tsi.tourist_spot_id
                                    LEFT JOIN    tourist_spot_hashtags tsh   ON ts.id = tsh.tourist_spot_id
                                    LEFT JOIN    hashtags h                  ON tsh.hashtag_id = h.id
        WHERE   r.sigungu_code = #{sigunguCode}
        AND     ts.is_active = TRUE
        GROUP BY ts.id,
                 ts.title,
                 ts.description,
                 ts.category_code
    </select>
    
    <!-- 2. 지역 선택하기(지도에서 지역 중복 선택) -->
    <select id="searchSpotsByRegionIds" parameterType="list" resultType="com.busan.orora.region.dto.SearchSpotsByRegionDto">

        SELECT  ts.id
                , ts.title
                , ts.description
                , ts.category_code AS categoryCode
                , MAX(CASE WHEN tsi.rep_img_yn = 'Y' THEN tsi.image_url END) AS imageUrl
                , GROUP_CONCAT(DISTINCT h.name ORDER BY h.name SEPARATOR ', ') AS hashtags
        FROM    tourist_spots ts    JOIN    regions r                   ON ts.region_id = r.id 
                                    LEFT JOIN    tourist_spot_images tsi     ON ts.id = tsi.tourist_spot_id
                                    LEFT JOIN    tourist_spot_hashtags tsh   ON ts.id = tsh.tourist_spot_id
                                    LEFT JOIN    hashtags h                  ON tsh.hashtag_id = h.id
        WHERE r.sigungu_code IN
        <foreach collection="list"
             item="id"
             open="("
             separator=","
             close=")">
            #{id}
        </foreach>
        AND ts.is_active = TRUE
        GROUP BY ts.id
                 , ts.title
                 , ts.description
                 , ts.category_code

    </select>   



</mapper>
