<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.busan.orora.spot.mapper.SpotMapper">
    <insert id="insertSpot" parameterType="SpotDto">
        INSERT INTO spots (name, description, image_url, link_url, category_code, is_active, view_count, rating_avg, rating_count)
        VALUES (#{name}, #{description}, #{imageUrl}, #{linkUrl}, #{categoryCode}, #{isActive}, #{viewCount}, #{ratingAvg}, #{ratingCount})
    </insert>
</mapper>
